TEXTCOMB_DATABASE_URL=postgres://textcomb:textcomb@postgres:5432/textcomb
TEXTCOMB_BIND=0.0.0.0:8080
TEXTCOMB_PUBLIC_ORIGIN=http://localhost:3000
TEXTCOMB_SOURCE_URL=https://github.com/zhen2675440601/textcomb
TEXTCOMB_STORAGE_DIR=/var/lib/textcomb
TEXTCOMB_MASTER_KEY_BASE64=replace-with-32-random-bytes-in-base64
TEXTCOMB_SESSION_TTL_HOURS=24
TEXTCOMB_REPORT_RETENTION_DAYS=180
TEXTCOMB_FAILED_INPUT_RETENTION_HOURS=24
TEXTCOMB_WORKER_CONCURRENCY=10
TEXTCOMB_PER_JOB_CHUNK_CONCURRENCY=2
TEXTCOMB_MODEL_CONCURRENCY=10
TEXTCOMB_JOB_TIMEOUT_MINUTES=120
TEXTCOMB_LOG=info,textcomb=debug
TEXTCOMB_SECURE_COOKIES=false
